.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

.has-tooltip {
    border-bottom: 1px dotted #555555;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


.level-wrapper {
    width: 100%;
    height: 520px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.level {
    background-image: url("../images/level-background.png");
    background-repeat: repeat-x;
    width: 2000px;
    height: 500px;
    position: relative;
}

.triangle {
    position: absolute !important;
    width: 100px;
    height: 100px;
    /*background-image: url('/images/triangle.svg');*/
    -webkit-mask: url('../images/triangle.svg') top left / cover;
    -moz-mask: url('../images/triangle.svg') top left / cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#add-spikes span {
    display: inline-block;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
}

.spikes {
    position: absolute !important;
    height: 100px;
    width: 300px;
    transform-origin: 0 0;
    border: 1px solid #fefefe;
}

.spikes .triangle {
    background: white;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
}

.spikes .triangle:nth-child(even) {
    animation-name: spikes-triangle-1;
}

.spikes .triangle:nth-child(odd) {
    animation-name: spikes-triangle-2;
}
@keyframes spikes-triangle-1 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes spikes-triangle-2 {
    0% {
        transform: translate(0px, 100px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 100px);
    }
}

.door-switch {
    background: white;
    width: 10px;
    height: 10px;
    color: black;
    text-align: center;
    position: absolute !important;
    top: 0;
    left: 0;
}

.door {
    text-align: center;
    color: black;
    background: white;
}

.rotatable-handle.ui-draggable-dragging {
    display: none;
}

.rotatable-handle {
    background: #f5dc58;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    left: 50%;
    margin: 0 0 0 -5px;
    position: absolute;
    top: -5px;
}

.ui-rotatable-handle.clone {
    visibility: hidden;
}

.color-info {
    width: 100%;
    height: 30px;
}

.player {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 245px;
    left: 50px;
}

#add-bomb {
    color: red;
}

.bomb {
    position: absolute !important;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.bomb:after {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,0,0,0.2);

    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
    animation-name: bomb;
    border-radius: 20px;
}

.exit {
    position: absolute !important;
    display: block;
    width: 20px;
    background: black;
    height: 40px;
    left: 0;
    top: 0;
}

@keyframes bomb {
    0% {
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
    }
    50% {
        width: 21px;
        height: 21px;
        left: -6px;
        top: -6px;
    }
    100% {
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1280px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
